#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

.navar-container {
  .navbar-dark .navbar-nav .nav-link {
    color: white;
  }

  .navbar-nav {
    .btn {
      color: white !important;
    }
  }

  @media (max-width: 992px) {
    .navbar-collapse {
      position: absolute;
      top: 73px;
      background-color: #161e2c;
      width: 100%;
      left: 0;
      z-index: 10;
      border-top: solid 1px white;
      display: flex;
      flex-wrap: wrap;

      .main_menu {
        flex: 1.2;
        min-width: 200px;
      }

      .login_menu {
        min-width: 200px;
        flex: .8;
        text-align: center;
        margin: auto !important;

        div {
          text-align: center;

        }

      }
    }
  }

}

.footer-area {
  background-color: #161e2c;
  padding-top: 50px;
  padding: 50px 40px;
  /*color: #000 . footer-area . container-fluid {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}*/

  .footer ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  .social-share ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  .footer ul li {
    margin-bottom: 5px;
  }

  .social-share ul li {
    margin-bottom: 10px;
  }

  .footer ul li a {
    font-size: 16px;
    color: #000;
  }

  .social-share li a {
    color: #000;
    font-size: 16px;
  }

  a {
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    color: #000;
    text-decoration: none !important;
  }

  .congrate-modal {
    width: 450px;
    height: 550px;
  }
  .nav-item{
    font-size: 13px!important;
  }

  @media only screen and (max-width: 500px) {
    .congrate-modal {
      height: 428px;
    }
  }
}

.ladingPage {
  .col-sm-12 {
    padding: 0;
  }

  //width: 100%;overflow: hidden;
  .video_div {
    position: relative;
    width: 100%;
    width: 100%;

    video {
      width: 100%;
      justify-content: center;
    }

    .overlay {
      background: #646464;
      opacity: .3;
    }

    .title {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      display: table;

      div {
        display: table-cell;
        vertical-align: middle;

        h1 {
          color: white;
          font-size: 4vw;
          text-shadow: rgb(0, 0, 0) 3px 3px 3px;
        }

        h4 {
          color: #d9d9d9;
          font-size: 3vw;
          font-family: "Arial Narrow";
          margin-bottom: 20px;
        }

      }

      .font1 {
        font-size: 20px;
        color: black;
        text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 1px 1px 0 #fff;
        padding-left: 5%;
        padding-right: 5%;
        font-weight: bold;
      }
    }
  }

}

@keyframes imgZoom {
  0% {
    transform: scale(1)
  }
  50% {
    transform: scale(1.06)
  }
  100% {
    transform: scale(1)
  }
}

@keyframes img-hover-animation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.best-image-div {
  margin-top: 20px;

  .stack-item {
    .img_div:hover {
      animation: imgZoom 1s;
    }

    .img_div {
      img {
        width: 100%;
        border-radius: 10px;
        border: 1px solid #b6b6b6;
        padding: 5px;
      }

      .img-hover:hover {
        animation: img-hover-animation 1s;
        opacity: 1;
      }

      .img-hover {
        position: absolute;
        opacity: 0;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;

        .img-body {
          position: relative;
          height: 100%;
          width: 100%;

          .zoom-img {
            position: absolute;
            right: 10px;
            top: 10px;
            padding: 3px;
            width: 35px;
            border-radius: 10px;
            border: solid 1px white;
            background: rgba(255, 255, 255, .5);
            font-weight: bold;
          }

          .zoom-img:hover {
            background: rgba(255, 255, 255, 1);
          }

          .title {
            background: rgba(0, 0, 0, .8);
            //border-radius: 0 0 20px 20px;
            bottom: 0;
            width: 100%;
            min-height: 60px;
            position: absolute;
            display: table;
            color: white;

            div {
              display: table-cell;
              vertical-align: middle;
            }
          }
        }
      }
    }
  }
}

.infoPage {
  .row {
    margin: 0;
    width: 100%;
    overflow-x: hidden;
  }

  .title {
    display: table;
    height: 100%;
    width: 100%;

    div {
      display: table-cell;
      vertical-align: middle;
      padding: 10px;
    }
  }

  .invert {
    .row {
      direction: rtl !important;

      .title {
        direction: ltr;
      }
    }
  }

  @media (max-width: 572px) {
    .invert {
      row {
        direction: ltr;
      }
    }
  }
}

.gallery-div {
  margin-top: 20px;

  .stack-item {
    .img_div:hover {
      animation: imgZoom 1s;
    }

    .img_div {
      img {
        width: 100%;
        border-radius: 10px;
        border: 1px solid #b6b6b6;
        padding: 5px;
      }

      .img-hover:hover {
        animation: img-hover-animation 1s;
        opacity: 1;
      }

      .img-hover {
        position: absolute;
        opacity: 1;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;

        .img-body {
          color: #ffffff;
          text-shadow: #000 3px 3px 3px;
          position: relative;
          height: 100%;
          width: 100%;
          .cart,.zoom-img{
            background: white;
            color: black;
            border-radius: 50%;
            width: 30px;
            height: 30px;
          }
          .zoom-img {
            position: absolute;
            right: 10px;
            top: 10px;
            padding: 3px;
          }

          .cart {
            position: absolute;
            left: 10px;
            top: 10px;
            padding: 3px;
          }

          .price {

          }

          .price {
            border-radius: 5px;
            bottom: 40px;
            left: 10px;
            width: 200px;
            position: absolute;
            font-style: italic;
            text-align: left;
            padding: 5px 10px 5px 10px;
            /*overflow: hidden;
            text-overflow: ellipsis;*/
          }

          .title {
            background: rgba(0, 0, 0, .6);
            border-radius: 5px;
            bottom: 10px;
            left: 10px;
            width: 200px;
            position: absolute;
            font-style: italic;
            text-align: left;
            padding: 2px 10px 2px 10px;
            overflow: hidden;
            text-overflow: ellipsis;
          }
        }
      }
    }
  }
}
